@mixin scrollbar($defaultColor: #aed6f1, $hoverColor: #1890ff) {
  &::-webkit-scrollbar-track-piece {
    background-color: #fdfefe;
  }
  &::-webkit-scrollbar {
    width: 10px;
    transition: all 2s;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aed6f1;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #1890ff;
  }
  &::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0);
  }
}
